@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital@0;1&family=Roboto&display=swap');

*{
  color: var(--color1);
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
}

body{
  background-color: var(--color5);
  position: relative;
}

#root{
  height: 100%;
}

.flex-r{
  display: flex;
  flex-direction: row;
}

.flex-c{
  display: flex;
  flex-direction: column;
}

.center{
  display: flex;
  justify-content: center;
  align-items: center;
}

.hidden{
  display: none;
}

.view{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
}

.content{
  width: 62.5rem;
  animation: fadein 2s;
}

.modal{
  background-color: var(--color4);
}

.modal .modal-footer{
  background-color: var(--color4);
}

nav{
  width: 100vw;
}

.btn{
  background-color: var(--color3);
  color: var(--color1);
  -webkit-box-shadow: 9px 9px 15px 0px #000000; 
  box-shadow: 9px 9px 15px 0px #000000;
  transition: 0.5s;
  border-radius: 1rem;
  height: 2.25rem;
  font-size: 1rem;
  text-align: center;
  letter-spacing: .5px;
  line-height: 2.25rem;
  padding: 0 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn:hover{
  background-color: var(--color6);
  fill: var(--color7);
  -webkit-box-shadow: 10px 10px 8px -7px rgba(0,0,0,0.73); 
  box-shadow: 10px 10px 8px -7px rgba(0,0,0,0.73);
}
.btn:focus{
  background-color: var(--color3);
  fill: var(--color1);
  -webkit-box-shadow: 0px 0px 0px 0px rgba(0,0,0,0); 
  box-shadow: 0px 0px 0px 0px rgba(0,0,0,0);
}

.shadow:hover:not(.base-card){
  -webkit-box-shadow: 10px 10px 8px -7px rgba(0,0,0,0.73); 
  box-shadow: 10px 10px 8px -7px rgba(0,0,0,0.73);
}

.shadow:focus:not(.base-card){
  -webkit-box-shadow: 0px 0px 0px 0px rgba(0,0,0,0); 
  box-shadow: 0px 0px 0px 0px rgba(0,0,0,0);
}

svg{
  fill: var(--color1)
}

.base-card{
  background-color: var(--color4)
}

@media only screen and (max-width: 1000px) {

  .content{ 
    width: 100vw;
  }

  .btn{
    height: 3rem;
  }

  .base-card{
    background-color: var(--color4trans)
  }

}